
@charset 'utf-8';
html{overflow-y: scroll;height:100%;}
body{margin: 0;background-color: #F5F5F5; min-width: 1300px;height:100%;font-family:"Source Han Sans","微软雅黑","microsoft yahei","HanHei SC","PingHei","PingFang SC",sans-serif,"Noto Sans S Chinese";}
body>#app>#mat{padding: 60px 0 0 0 ;}
body>#app{height:100%;}
ul,ol {margin:0; padding:0}
li {list-style:none;}
img{border:0;}
a{text-decoration: none;color: #666666;}
h1,h2,h3,h4,h5,h6{margin:0;font-weight:normal;}
.fr{float: right}
.fl{float: left}
.w1200{width: 1200px; margin: 0 auto;padding:0.1px 0;}
.clearfix:after{
    content: "";
    display: block;
    height: 0;
    clear:both;
    visibility: hidden;
}
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
  background: transparent;
}
 
::-webkit-scrollbar-thumb {
  /* background: transparent; */
  background: hsla(0, 1%, 17%, 0.5);
  border-radius: 4px;
}
 
:hover::-webkit-scrollbar-thumb {
  background: hsla(0, 1%, 17%, 0.4);
}
 
:hover::-webkit-scrollbar-track {
  background: hsla(0, 1%, 17%, 0.2);
}
/* 下拉加载滚动到底部提示 */
.bottomHint{  
  text-align: center;
  color: #999999;
  line-height: 50px;
}