.list {
  background-color: rgb(255, 255, 255);
  padding: 2rpx 10rpx;
  display: flex;
  flex-wrap: wrap;

  .item {
    width: 48%;
    display: flex;
    height: 180rpx;

    .item_pic {
      width: 100rpx;
      height: 100rpx;
      margin: 20rpx 10rpx 5rpx;
    }

    .item_but {
      margin-top: 20rpx;

      .item_h {
        color: #111;
        font-size: 32rpx;
        font-weight: bold;
      }

      .item_f {
        font-size: 26rpx;
        color: #333;
      }
    }
  }
}

.utype {
  .nu {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 40rpx;
    color: #333;
    padding-top: 40%;
  }

  .box {
    background-color: #fff;

    .title {
      font-size: 36rpx;
      padding-left: 30rpx;
    }

    .item {

      margin: 20rpx !important;
      padding: 10rpx !important;
      border-radius: 16rpx;
      background-color: #eee;
      font-size: 36rpx;
    }

    .top,
    .bottom {
      display: flex;
      justify-content: space-between;
    }

    .bottom {
      padding-top: 10rpx;
    }
  }
}