.box {
  background-color: #fff;
  padding: 5rpx;

  .type1 {
    border-radius: 5%;
    padding: 10rpx;

    .get {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;

      .get_le {
        width: 70%;
      }

      .get_ri {
        width: 30%;
      }
    }
  }
}