.box {
  background-color: #fff;
  padding: 5rpx;
}
.box .type1 {
  border-radius: 5%;
  padding: 10rpx;
}
.box .type1 .get {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.box .type1 .get .get_le {
  width: 70%;
}
.box .type1 .get .get_ri {
  width: 30%;
}
